*.pyc
__pycache__
*~

build/*
dist/*
*.egg-info/

# Generated when 'python setup.py build_clib'
# and 'python setup.py build-ext --inplace'
nxmetis/_metis.so
nxmetis/_metis.*.so
nxmetis/_metis.c

# Sphinx documentation
docs/build/

# Sublime Text project files
*.sublime-project
*.sublime-workspace
